<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
      dense>
      <v-toolbar-title>
        <v-btn
          to="/"
          text
        >
          <span class="my-0 text-center">GrandpyBot</span>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
      </v-toolbar-title>
      <v-spacer/>
      <v-toolbar-items>
        <v-btn
          v-if="!loggedIn"
          to="login"
          text
        >
          Login
        </v-btn>
        <v-btn
          v-if="!loggedIn"
          to="register"
          text
        >
          Register
        </v-btn>
        <v-dialog
          v-model="dialog"
          width="500"
        >
          <template v-slot:activator="{ on }">
            <v-btn
              color="blue lighten-2"
              dark
              v-on="on"
            >
              A propos
            </v-btn>
          </template>

          <v-card>
            <v-card-title
              class="headline grey lighten-3"
              primary-title
            >
              Contact & Réseaux Sociaux
            </v-card-title>
            <v-card-text>
              <v-btn
                icon
                color="blue lighten-3"
                href="https://twitter.com/Axel_V_py">
                <v-icon>mdi-twitter</v-icon>
              </v-btn>
              <v-btn
                icon
                href="https://github.com/Axel-V">
                <v-icon>mdi-github-circle</v-icon>
              </v-btn>
              <v-btn
                icon
                color="blue lighten-4"
                href="mailto:axel.vl@protonmail.ch"
              >
                <v-icon>mdi-email-outline</v-icon>
              </v-btn>
            </v-card-text>
          </v-card>
        </v-dialog>
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
      <v-container>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    name: "App",
    computed: {
      loggedIn() {
        return this.$store.getters.isLoggedIn;
      }
    }
  };
</script>
