<template>
  <v-container class="home">
    <v-row>
      <v-col
        cols="10"
        offset="1"
      >
        <v-card>
          <v-row>
            <v-col id="messageHistory">
              <v-card
                v-for="(message, index) in messageHistory"
                :key="message.id + index"
                :class="{
                  'ml-auto': message.id === 'user',
                  'mr-2': message.id === 'user',
                  'white--text': message.id === 'user',
                  'mr-auto': message.id !== 'user',
                  'ml-2': message.id !== 'user',
                }"
                class="pa-1 my-2"
                :color="message.id === 'user' ? 'blue lighten-4' : 'grey lighten-4'"
                width="max-content"
                max-width="90%"
              >
                {{ message.value }}
                <a
                  v-if="message.link"
                  :href="message.link">En savoir plus</a>
              </v-card>
            </v-col>
          </v-row>
          <v-divider/>
          <v-row>
            <v-col>
              <v-form>
                <v-text-field
                  v-model="userInput"
                  solo
                  flat
                  label="Pose moi ta question ici"
                  required
                  @keyup.enter="submit"
                >
                  <template v-slot:append>
                    <v-btn
                      icon
                      color="blue lighten-4"
                    >
                      <v-icon>
                        mdi-send
                      </v-icon>
                    </v-btn>
                  </template>
                </v-text-field>
              </v-form>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="10"
        offset="1">
        <v-card
          id="gmap"
          class="mx-auto card-radius"
          :loading="isLoading">
          <gmap-map
            :center="center"
            :zoom="mapZoom"
            style="width: auto; height: 300px"
          >
            <gmap-marker
              v-if="markerVisible"
              :position="markerPosition"
            />
          </gmap-map>
        </v-card>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackBar"
      top
      :timeout="2000"
    >
      Vous êtes connecté !
    </v-snackbar>
  </v-container>
</template>

<script>
  import messages from "../services/messages";

  export default {
    name: "Home",
    data: () => ({
      userInput: "",
      messageHistory: [],
      center: {lat: 0, lng: 0},
      mapZoom: 1,
      markerVisible: false,
      markerPosition: {lat: 0, lng: 0},
      isLoading: false,
      snackBar: false
    }),
    computed: {
      loggedIn() {
        return this.$store.getters.isLoggedIn;
      }
    },
    mounted() {
      if (this.loggedIn) {
        this.snackBar = true;
        this.getUserMessageHistory()
      }
    },
    updated() {
      var element = this.$el.querySelector("#messageHistory");
      element.scrollTop = element.scrollHeight
    },
    methods: {
      submit: async function () {
        this.isLoading = true;
        const input = this.userInput;
        await this.messageHistory.push({
          id: "user",
          value: input
        });
        this.userInput = "";

        let promise;
        if (this.loggedIn) {
          promise = messages.userSearchRequest(input, this.$store.state.connexionToken);
        } else {
          promise = messages.searchRequest(input);
        }

        await promise.then(result => {
          if (result.data.status === "wikimedia_page_url_ok") {
            // push messages in history
            this.messageHistory.push({
              id: "bot",
              value: result.data.grandpy_response
            });
            this.messageHistory.push({
              id: "bot",
              value: `Voici son adresse: ${result.data.formatted_address}`
            });
            this.messageHistory.push({
              id: "bot",
              value: result.data.wiki_summary,
              link: result.data.wiki_url
            });

            // assign new value to gmap
            this.center = {lat: result.data.lat, lng: result.data.lng};
            this.markerPosition = {lat: result.data.lat, lng: result.data.lng};
            this.markerVisible = true;
            this.mapZoom = 12;
          } else {
            this.messageHistory.push({
              id: "bot",
              value: result.data.grandpy_response
            });

            // assign new value to gmap
            this.center = {lat: 0, lng: 0};
            this.markerVisible = false;
            this.mapZoom = 1;
          }
        });
        this.isLoading = false;
      },
      getUserMessageHistory() {
        const promise = messages.getUserHistory(this.$store.state.connexionToken);
        promise.then((response) => {
          const result = response.data;
          for (const historyObject of result) {
            this.messageHistory.push({
              id: "user",
              value: historyObject.user_request
            });
            this.messageHistory.push({
              id: "bot",
              value: historyObject.response_grandpy_response
            });
            if (historyObject.response_formatted_address) {
              this.messageHistory.push({
                id: "bot",
                value: `Voici son adresse: ${historyObject.response_formatted_address}`
              });
            }
            if (historyObject.response_wiki_summary) {
              this.messageHistory.push({
                id: "bot",
                value: historyObject.response_wiki_summary,
                link: historyObject.response_wiki_url
              });
            }
          }
        })
      }
    }
  };
</script>

<style scoped>
  #messageHistory {
    overflow: scroll;
    max-height: 400px;
    min-height: 400px;
  }

  .card-radius {
    border-radius: 15px !important;
  }
</style>