<template>
  <div>
    <h1>Login</h1>
    <v-form v-model="valid">
      <v-text-field
              v-model="username"
              placeholder="Pseudonyme"
              :rules="usernameRules"
              :error-messages="usernameErrors"
              required
      />
      <v-text-field
              v-model="password"
              placeholder="Mot de passe"
              :rules="passwordRules"
              type="password"
              required
      />
      <v-btn
              :disabled="!valid"
              color="primary"
              depressed
              @click="userLogin">
        Se connecter
      </v-btn>
    </v-form>
  </div>
</template>

<script>
  import userAuth from "../services/userAuth";

  export default {
    name: "Login",
    data: () => ({
      valid: false,
      username: "",
      password: "",
      usernameErrors: [],
      usernameRules: [v => !!v || "Pseudonyme requis"],
      passwordRules: [v => !!v || "Mot de passe requis"]
    }),
    watch: {
      username() {
        if (this.usernameErrors.length > 0) {
          this.removeUsernameErrors();
        }
      },
      password() {
        if (this.usernameErrors.length > 0) {
          this.removeUsernameErrors();
        }
      }
    },
    methods: {
      userLogin() {
        const tokenPromise = userAuth.loginUser(this.username, this.password);
        tokenPromise
          .then(resp => {
            if (resp.status === 200) {
              this.$store.commit("changeConnexionToken", resp.data.token);
              this.$router.push("/");
            }
          })
          .catch(error => {
            if (error.response.status === 401) {
              this.usernameErrors = [
                "Mauvaise combinaison Nom d'utilisateur/Mot de passe"
              ];
            }
          });
      },
      removeUsernameErrors() {
        this.usernameErrors = [];
      }
    }
  };
</script>
