<template>
  <div>
    <h1>Register</h1>
    <v-form
      ref="form"
      v-model="valid">
      <v-text-field
        v-model="username"
        placeholder="Pseudonyme"
        :error-messages="usernameErrors"
        :rules="usernameRules"
        required
      />
      <v-text-field
        v-model="password"
        placeholder="Mot de passe"
        :rules="passwordRules"
        type="password"
        required
      />
      <v-text-field
        v-model="passwordConfirmation"
        placeholder="Confirmez votre mot de passe"
        :error-messages="passwordConfirmationErrors"
        :rules="passwordConfirmationRules"
        type="password"
        required
      />
      <v-btn
        :disabled="!valid"
        color="primary"
        depressed
        @click="createUser">
        Créer un compte
      </v-btn>
    </v-form>
  </div>
</template>

<script>
  import userAuth from "../services/userAuth";

  export default {
    name: "Register",
    data: () => ({
      valid: false,
      username: null,
      password: "",
      passwordConfirmation: "",
      usernameErrors: [],
      usernameRules: [v => !!v || "Pseudonyme requis"],
      passwordRules: [
        v => !!v || "Mot de passe requis",
        v => v.length > 4 || "Mot de passe trop court"
      ],
      passwordConfirmationRules: [
        v => !!v || "Confirmation de mot de passe requise"
      ]
    }),
    computed: {
      passwordConfirmationErrors() {
        const errors = [];
        if (this.password !== "" && this.passwordConfirmation !== "") {
          if (this.password !== this.passwordConfirmation) {
            errors.push("Les mots de passe ne correspondent pas");
          }
        }

        return errors;
      }
    },
    watch: {
      username() {
        if (this.usernameErrors.length > 0) {
          this.removeUsernameErrors();
        }
      }
    },
    methods: {
      createUser() {
        const userPromise = userAuth.createUser(this.username, this.password);
        userPromise
        .then(() => {
          const tokenPromise = userAuth.loginUser(this.username, this.password);
          tokenPromise
          .then(resp => {
            if (resp.status === 200) {
              this.$store.commit("changeConnexionToken", resp.data.token);
              this.$router.push("/");
            }
          });
        })
        .catch(error => {
          if (error.response.status === 403) {
            this.usernameErrors = ["Cet utilisateur existe déjà"];
          }
        });
      },
      removeUsernameErrors() {
        this.usernameErrors = [];
      }
    }
  };
</script>
